# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    #strategy:
     # matrix:
      #  node-version: [18]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
    - name: "Install dependencies"
      run: npm install

    
    - name: "Display time"
      run: echo "Starting time at $(date + "%H:%M:%S %Z")"

    - name: "Run lint"
      run: npm run lint
      
    - name: "Run prettier"
      run: npm run prettier

    - name: "Test Jest"
      run: npm run test

    - name: "Display run well"
      run: echo "Run well"
