name: Node.js CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: "Install dependencies"
      run: npm install

    
    - name: "Display time"
      run: echo "Starting time at $(date + "%H:%M:%S %Z")"

    - name: "Run lint"
      run: npm run lint
      
    - name: "Run prettier"
      run: npm run prettier

    - name: "Test Jest"
      run: npm run test
